.full-card {
  padding: 5px;
}
.card-body {
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.137);
  border-left: 1px solid rgba(0, 0, 0, 0.048);
}
.rodape-card {
  color: #614ea6;
  height: 35px;
}

.btn-detalhes {
  background-color: #614ea6;
  color: #fff;
}

.btn-detalhes:hover {
  background-color: #f21667;
  color: #fff;
}

.card-text {
  max-height: 70px;
  min-height: 70px;
  overflow: hidden;
}

.img-cartao {
  max-height: 200px;
  min-height: 200px;
  min-width: 100%;
}
